body {
  margin: 44px;
}

.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}

	.header {
		grid-area: header;
	}

	.footer {
		grid-area: footer;
	}


	.wrapper {
		display: grid;
    grid-gap: 20px;
		grid-template-columns: 400px 600px 700px;
		grid-template-areas:
    "....... header header"
		"sidebar content content"
		"footer  footer  footer";
		background-color: #fff;
		color: #444;
	}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 70px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}
